@model MovieShop.Core.Models.Response.ReviewResponseModel

<form asp-controller="Movie" asp-action="ReviewTextArea" method="post">
    <textarea asp-for="ReviewText"></textarea>
    <button type="submit">Submit</button>
</form>